{% extends 'basic.html'%}
{% block body %}


<h1>for booking enter your details</h1>
<input type="text" placeholder="Enter your full name">
<input type="email" placeholder="Enter youe mail id">
<input type="number" placeholder="number of person">
<input type="radio" name="roomType" id="roomType1">
<label for="roomType1">delux room </label>
<input type="radio" name="roomType" id="roomType2">
<label for="roomType2">super delux </label>
<input type="radio" name="roomType" id="roomType3">
<label for="roomType3">super delux for one person</label>
<button type="submit">make payment for booking</button>

{% endblock %}